<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/chat.css') }}">
  </head>
  <body>

    <div class="header">
      <a href="#">Chat</a>
      <a href="/forum">Forum</a>
      <a href="/guide">Course Guide</a>
      <a href="/account">Account</a>
    </div>

    <h1>Welcome to the chat, {{ username }}</h1>
    <p>Your role is: {{ role }}</p>

    <form action="/post_message" method="post">
      <h2>Post message</h2>
      <div style="padding:20px">
          <textarea id="message_input" name="message_input" class="quilljs-textarea">
              
          </textarea>
      </div>
      <button type="submit">Post Message</button>
    </form>

  </body>
</html>
