<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <link rel="stylesheet" href="/styles/chat.css">
  </head>
  <body>

    <div class="header">
      <a href="#">Chat</a>
      <a href="/guide">Course Guide</a>
      <a href="/account">Account</a>
    </div>

    <h1>Welcome to the chat, {{ username }}</h1>
    <p>Your role is: {{ role }}</p>

    <div class="container">
      <h1>Course Chat</h1>
      
      <!-- Message Form -->
      <form class="message-form">
        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea><br>
        <button type="submit">Post Message</button>
      </form>
      
      <!-- Message List -->
      <ul class="message-list">
        <!-- messages to be added here -->
      </ul>
    </div>

    <!--Key scripts-->
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>    

    <script type="module">
      window.addEventListener('load', async () => {
        // socket initialisation
        const socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

        // When a 'message' event is received from the server
        socket.on('message', function(message_data) {
            var messages = document.querySelector('.message-list');
            var newMessage = document.createElement('li');
            newMessage.className = 'message';
            newMessage.innerHTML = '{{ username }}: ' +'</span><br>' + message;
            messages.appendChild(newMessage);
        });

        // Handle form submission and display questions
        document.querySelector('.message-form').addEventListener('submit', function(event) {
          event.preventDefault();
          var messageInput = document.getElementById('message');
          var message = messageInput.value;

          var messageList = document.querySelector('.message-list');
          var messageItem = document.createElement('li');
          messageItem.className = 'message';

          messageItem.innerHTML = '{{ username }}: ' +'</span><br>' + message;
          messageList.appendChild(messageItem);

          // Emit the 'message' event to the server
          socket.emit('message', {username: '{{ username }}', message: message});

          // Clear form inputs
          messageInput.value = '';
        });
      });
    </script>
  </body>
</html>
