<!DOCTYPE html>
<html>
  <head>
    <title>Flask Chat</title>
  </head>
  <body>
    <h1>Flask Chat</h1>
    <div id="messages"></div>
    <form action="">
      <input id="message_input" autocomplete="off" />
      <button>Send</button>
    </form>

    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>    
    <script>
      var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
      socket.on('message', function(data) {
        var messages = document.getElementById('messages');
        messages.innerHTML += '<p>' + data + '</p>';
      });
      document.querySelector('form').addEventListener('submit', function(e) {
        e.preventDefault();
        var messageInput = document.getElementById('message_input');
        var message = messageInput.value;
        messageInput.value = '';
        socket.emit('message', message);
      });
    </script>
  </body>
</html>
