<!DOCTYPE html>
<html>
<head>
    <title>Forum</title>
</head>
<body>
    <div class="header">
        <a href="/chat">Chat</a>
        <a href="#">Forum</a>
        <a href="/guide">Course Guide</a>
        <a href="/account">Account</a>
    </div>
    
    <table class="table table-striped" >
        <thead>
          <tr>
            <th scope="col">username</th>
            <th scope="col">message</th>
          </tr>
        </thead>
        <tbody>
    {% for key, value in messages.items() %}
      <tr>
        <th scope="row">{{ value.username }}</th>
        <td>{{ value.message }}</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
    <!-- Tam, B. (2023) -->

</body>
</html>
