<!DOCTYPE html>
<html>
<head>
    <title>Forum</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/forum.css') }}">
</head>
<body>
    <div class="header">
        <div class="nav">
            <a href="/chat">Chat</a>
            <a href="#">Forum</a>
            <a href="/guide">Course Guide</a>
            <a href="/account">Account</a>
        </div>
        <button class="logout-button" onclick="location.href='/logout'">Logout</button>
    </div>

    <table class="table table-striped" >
        <thead>
          <tr>
            <th scope="col">username</th>
            <th scope="col">message</th>
          </tr>
        </thead>
        <tbody>
        {% for key, value in messages.items() %}
        <tr>
            <th scope="row">{{ value['username'] }}</th>
            <td>{{ value['message'] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- Tam, B. (2023) -->
</body>
</html>
