<!DOCTYPE html>
<html>
<head>
    <title>Course Guide</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/guide.css') }}">
    <link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css">
</head>
<body>
    
    <!-- Navigational header -->
    <div class="header">
        <div class="nav">
            <a href="/chat">Chat</a>
            <a href="/forum">Forum</a>
            <a href="#">Course Guide</a>
            <a href="/account">Account</a>
        </div>
        <button class="logout-button" onclick="location.href='/logout'">Logout</button>
    </div>

    <h1>Course Guide</h1>
    {% if admin == True %}
    <form action="/save" method="post">
        <h2>Overview</h2>
        <div style="padding:20px">
            <textarea name="paragraph_content" class="quilljs-textarea">
                {{ paragraph_content }}
            </textarea>
        </div>
        <!-- Save button -->
        <button type="submit">Save</button>
    </form>
    {% else %}
        <h2>Overview</h2>
        <div style="padding:20px">
            <p name="paragraph_content" style="text-align: justify;">
                {{ paragraph_content }}
            </p>
        </div>
    {% endif %}


    
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="{{ url_for('static', filename='/js/quill-textarea.js') }}"></script>
    <script>
        (function() {
            quilljs_textarea('.quilljs-textarea', {
            modules: { toolbar: [
                ['bold', 'italic', 'underline'],        // toggled buttons
                [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                [{ 'align': [] }],
            ]},
            theme: 'snow',
            });
        })();
    </script>
    
</body>
</html>
