<!DOCTYPE html>
<head>
	<title>Register Page</title>
	<link rel="stylesheet" href="../styles/register.css">
    <script>
		// Hashes the password and adds salt
		function hashPassword() {
			var password = document.getElementById("password").value;
            const salt = Array.from(window.crypto.getRandomValues(new Uint8Array(16)), b => b.toString(16).padStart(2, '0')).join('');
			var hash = sha256(salt + password);

			document.getElementById("hashed_password").value = hash;
            document.getElementById("salt_input").value = salt;

		}
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script>
</head>
<body>
	<div class="header">
        <a href="/login">Login</a>
    </div>
	<div class="container">
		<h2>Register</h2>
		<form method="post" action="/login" onsubmit="hashPassword();">
			<label for="username">Username:</label>
			<input type="text" id="username" name="username" required><br><br>
			<label for="password">Password:</label>
			<input type="password" id="password" name="password" required><br><br>
			<label for="role">Role:</label>
            <select id="role" name="role" required>
                <option value="" disabled selected>Select role:</option>
                <option value="student">Student</option>
                <option value="admin">Admin</option>
            </select><br><br>
			<input type="hidden" id="hashed_password" name="hashed_password">
			<input type="hidden" id="salt_input" name="salt">
			<input type="submit" value="Register">
		</form>
		<p id="return-message">{{ return_message }}</p>
	</div>
</body>