@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900");

body {
    background-color: #e1d5e7; /* Lilac colour */
    font-family: 'Roboto';
    font-size: small;
    margin: 0;
}

.header {
    background-color: #b5b0f1; /* Dark purple colour */
    padding: 15px;
    color: white;
}

.header a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.header a:hover {
    color: #ddd;
}

.container {
    background-color: white;
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
}

h1, h2 {
    margin-top: 30px;
    margin-left: 20px;
}

table {
    /* width: 90%; */
    width: auto;
    padding: 10px;
    border-collapse: collapse;
    margin-top: 20px;
    margin-right:20px;
    margin-left:20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #b5b0f1; /* Dark purple colour */
    color: white;
}

td[contenteditable="true"] {
    background-color: #f7f7f7;
}

p[contenteditable="true"] {
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
    text-align: justify;
    margin-left: 20px;
    margin-right:20px;
}

p[contenteditable="true"]:first-child {
    font-weight: bold;
}

td[contenteditable="true"]:empty::before {
    content: "Enter data";
    color: #aaa;
}

